/* main text color #757575 */
/* secondary text color #212121 */
/* acent color #2196F3 */
/* white color #ffffff */
/* footer contacts color rgba(255, 255, 255, 0.6) */
/* hero, footer background color #2F303A */
/* company section, button bg color #F5F4FA */
:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --button-background-color: #f5f4fa;
}
p {
  margin: 0;
}
body {
  color: var(--main-text-color);
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* background-color: aqua; */
  outline: 1px solid red;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ====================HEADER==================== */
.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 9px;
  padding-bottom: 9px;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-flex {
  display: flex;
  align-items: center;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  padding: 15px 0;
}
/* logo style */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.header.logo {
  color: var(--secondary-text-color);
}
.logo-acent {
  color: var(--accent-color);
}
.footer.logo {
  color: var(--background-color);
}
/* nav style */
.site-nav {
  margin-left: 93px;
}
.site-nav,
.header-contacts {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: var(--secondary-text-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .list-item,
.header-contacts .list-item {
  margin-left: 50px;
}
.site-nav .list-item:first-child,
.header-contacts .list-item:first-child {
  margin-left: 0px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/* header contacts style*/
.header-contacts {
  color: var(--main-text-color);
}
.header-contacts.link:hover,
.header-contacts.link:focus,
.footer-contact.link:hover,
.footer-contact.link:focus,
.footer-adress.link:hover,
.footer-adress.link:focus {
  color: var(--accent-color);
}
/* ==========================HERO======================= */
/* hero sections style */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--footer-background-color);
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-title {
  margin: 0 auto 30px;
  width: 45%;

  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  /* outline: 1px solid tomato; */
}
button {
  font-family: inherit;
  cursor: pointer;
}
.button {
  background-color: var(--button-background-color);
  color: var(--secondary-text-color);
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 4px;
}
.button.primary {
  background-color: var(--accent-color);
  color: var(--background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  /* height: 50px; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 8px 30px;
}
.button.secondary {
  background-color: var(--button-background-color);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  min-width: 70px;
}
.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* =================== section style ===============*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color);
}
.section-title {
  margin: 0px auto 50px;
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* =================== BENEFITS SECTION ============ */
.benefits {
  display: flex;
  justify-content: space-between;
}
.benefits-item {
  /* flex-basis: calc((100%-90px) / 4); */
  width: 270px;
}
.benefits-item + .benefits-item {
  margin-left: 30px;
}
.benefits-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* .list p {
  margin: 0px auto 10px;
} */
/* =================== COMPANY SECTION ============= */
li:last-child p {
  margin: 0;
}
.section-company {
  background-color: var(--button-background-color);
}
.members-title {
  margin: 0px auto 10px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.member-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* +++++++++++tests section+++++++++++++++++++++ */
.gallery-image {
  background-color: chocolate;
}
.inline-modified {
  display: inline;
  margin-bottom: 12px;
}
.inline-modified:last-child {
  /* margin-bottom: 0px; */
  background-color: aqua;
}
.button-filter {
  display: inline-block;
  border: 3px solid rgb(129, 130, 209);
  margin: 0 auto;
}
/* +++++++++++++++++++++++++++++++++++++++++++++ */
.gallery-title {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.gallery-business {
  font-size: 16px;
  line-height: 1.87;
}
/* footer style */
.footer {
  background-color: var(--footer-background-color);
}
.footer-contacts {
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-adress {
  color: var(--background-color);
}
.footer-contact {
  color: var(--footer-contacts-color);
}

/* ====================HEADER==================== */
/* ====================HEADER==================== */
